<a href="https://colab.research.google.com/github/fullbloom0325/Coding-Study/blob/main/code_up_8_13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [26]:
import pandas as pd
import numpy as np

공백을 두고 문자(character) 2개를 입력받아 순서를 바꿔 출력해보자.

In [ ]:
a,b=input().split()
print(b,a)

1 2
2 1

정수(integer), 실수, 문자(character), 문자열(string) 등 1개만 입력받아 한 줄로 3번 출력해보자.

In [ ]:
a=int(input())
b=float(input())
c=str(input())
print(a,b,c)

1
2
3
1 2.0 3

In [ ]:
a=input()
print(a,a,a)

바보
바보 바보 바보

24시간 시:분 형식으로 시간이 입력될 때, 그대로 출력하는 연습을 해보자.

In [ ]:
a, b = input().split(':') #input().split(':') 를 사용하면 콜론 ':' 기호를 기준으로 자른다.(3과 16을 구분) print(?, ?, sep=':') 를 사용하면 콜론 ':' 기호를 사이에 두고 값을 출력한다.sep 는 분류기호(seperator)를 의미한다.
print(a, b, sep=':')

3:16
3:16

"연도.월.일"을 입력받아 "일-월-연도" 순서로 바꿔 출력해보자.

In [ ]:
y,m,d=input().split('.')
print(d,m,y ,sep='-') #sep는 꼭 split과 같을필욘느 없으며 sep으로 기호를 추가할 수 있다.

2020.2.1
1-2-2020

주민번호는 다음과 같이 구성된다.
XXXXXX-XXXXXXX

왼쪽 6자리는 생년월일(YYMMDD)이고, 오른쪽 7자리는 성별,출생지역,확인코드로 구성되어있다.
주민번호를 입력받아 형태를 바꿔 출력해보자.

In [ ]:
q,w=input().split('-')
print(q,w,sep='')

990325-1111111
9903251111111

알파벳과 숫자로 이루어진 단어 1개가 입력된다.
입력받은 단어의 각 문자를 한 줄에 한 문자씩 분리해 출력한다.

In [ ]:
s = input()
print(s[0])
print(s[1])   #잘 봐두기 []는 차례 
print(s[2])
print(s[3])
print(s[4])

eeeee
e
e
e
e
e

6자리의 연월일(YYMMDD)을 입력받아 나누어 출력해보자.

In [13]:
a =input()

print(a[0:2],a[2:4],a[4:6],sep=' ')

112233
11 22 33

시:분:초 형식으로 시간이 입력될 때 분만 출력해보자.

In [14]:
a,b,c=input().split(':')
print(b)

11:22:33
22

알파벳 문자와 숫자로 이루어진 단어 2개를 입력받아
순서대로 붙여 출력하는 프로그램을 작성해보자.

In [15]:
a,b = input().split()
s=a+b
print(s)

frf sss
frfsss

정수 2개를 입력받아
합을 출력하는 프로그램을 작성해보자.

In [31]:

a,b = input().split()  #a,b가 문자형이기에 int가 성립되지 않는다.
s=int(a)+int(b)
   

print(s)

111 -222
-111