In [ ]:
from google.colab import drive
from os.path import join
ROOT = "/content/drive"
print(ROOT)
drive.mount(ROOT)

/content/drive
Mounted at /content/drive

"!@#$%^&*()'출력

In [ ]:
print('"!@#$%^&*()\'') #오답노트 앞의'는 그 바로뒤"와 다르기때문에 \를 활용하지 않아도 괜찮지만 뒤에있는 '는 앞에 '로 같은것이 있기 때문에 \를 사용한다.

"!@#$%^&*()'

"C:\Download\'hello'.py" 출력

In [ ]:
print("\"C:\Download\\'hello'.py\"")

"C:\Download\'hello'.py"

"Hello\nWorld"출력

In [ ]:
print('print("Hello\\nWorld")') #오답노트 \n을 그대로 표현하기 위해 \\에 '을 넣지 않음으로써 출력할게 없어 \n출력

print("Hello\nWorld")

문자(character)는
0~9, a~z, A~Z, !, @, #, {, [, <, ... 과 같이 
길이가 1인 기호라고 할 수 있다.

변수에 문자 1개를 저장한 후
변수에 저장되어 있는 문자를 그대로 출력해보자.

In [ ]:
c = input('a')
print(c)

a0
0

In [ ]:
print(c)

0

정수(integer)는
양의 정수(1, 2, 3, 4, 5, ...), 음의 정수(-1, -2, -3, -4, -5, ...), 0 과 같이
소숫점 아래에 수가 없는 수라고 할 수 있다.
변수에 정수값을 저장한 후 정수로 변환하여 출력해보자.

In [ ]:
a=int(input())
print(a)

9
9

In [ ]:
a

9

숫자(0~9)와 소수점(.)을 사용해 표현한 수를 실수(real number)라고 한다.

변수에 실수값을 저장한 후
변수에 저장되어 있는 값을 그대로 출력해보자.

In [ ]:
a=float(input())
print(a)

9
9.0

줄을 바꿔 정수(integer) 2개를 입력받아 줄을 바꿔 출력해보자.

In [ ]:
a=int(input())
b=int(input())

print(int(a))
print(int(b))

1
2
1
2

줄을 바꿔 문자(character) 2개를 입력받고, 순서를 바꿔 한 줄씩 출력해보자.

In [ ]:
a = input()
b = input()
print(b)
print(a)

1
2
2
1

In [ ]:
a = input()
b = input()
print('{b}\n{a}'.format(b=b, a=a))

1
2
2
1

실수(real number) 1개를 입력받아 줄을 바꿔 3번 출력해보자.

In [ ]:
a = float(input())
for i in range(3):
    print(a)

1
1.0
1.0
1.0

공백을 두고 입력된정수(integer) 2개를 입력받아 줄을 바꿔 출력해보자.

In [ ]:
a = input().split()
b = input().split()
print(a)
print(b)

1
2
['1']
['2']